/* style.css */
body {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
}

.book {
  background: rgb(26, 169, 221);
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo-title {
  width: 80%;       /* レスポンシブ対応で、画面幅に合わせて縮小 */
  height: auto;         /* 高さは自動調整して縦横比を保つ */
  display: block;       /* インライン要素の余白を消す */
  margin: 0 auto;       /* 中央揃え */
  padding-top: 20px;    /* 上の余白（必要なら） */
}