/* style.css */
body {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
}

.book {
  background: rgb(26, 169, 221);
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.add-button {
  position: fixed;
  bottom: 20px;              /* 下からの距離 */
  right: 20px;               /* 右からの距離 */
  width: 60px;
  height: 60px;
  background-color: #1a90ff;
  color: white;
  font-size: 36px;
  font-weight: bold;
  border: none;
  border-radius: 50%;        /* 丸くする */
  text-align: center;
  line-height: 60px;         /* 垂直方向中央揃え */
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: background-color 0.3s;
}
.add-button:hover {
  background-color: #006fd6;
}